body {
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    line-height: 1.3;
    color: #2c2c2c;
}

.logo {
    width: 45px;
    height: 40px;
}

.nav-custom {
    background-color: #0d0d0d!important;
    color: white;
    padding: 20px 20px;
}

.phone {
    color: white;
    font-family: 'Lora', serif;
}

.text-bot {
    color: #ce8d02;
    font-family: 'Lora', serif;
}

.nav-left {
    padding-right: 20px;
    border-right: solid 2px #ce8d02;
}

.nav-right {
    padding-left: 10px;
}

.text-bot2 {
    color: #ce8d02;
    font-size: 13px;
    font-family: 'Lora', serif;
}

#navbarSupportedContent .nav-link {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.05px;
    font-weight: 500;
    color: white;
}
#navbarSupportedContent .nav-link:active{
color: #ce8d02;
}
#navbarSupportedContent .active .nav-link{
    color: #ce8d02;
}
.icon {
    padding-top: 0;
    width: 23px;
    height: 23px;
}

.img-slide {
    width: 100%;
    height: 80vh;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tittle-slide {
    color: #ce8d02;
    font-family: 'Lora', serif;
    font-weight: 400;
}

.help {
    color: white;
    font-weight: 900;
}

.button-slide {
    border-radius: 0;
    border: solid 1px #ce8d02;
    color: #FFF;
    font-size: 11px;
    padding: 10px 20px;
}

#carouselExampleIndicators {
    margin-top: 90px;
}

#carouselExampleIndicators .carousel-indicators li {
    margin-right: 8px!important;
    margin-left: 8px!important;
}

#carouselExampleIndicators .carousel-indicators .active {
    background-color: #ce8d02;
}

.banner {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f4f3ef;
}

.text-banner {
    padding: 0 20px;
    color: #0d0d0d;
    font-weight: 700;
    font-family: 'Lora', serif;
}

.number {
    color: #ce8d02;
}

.text-banner2 {
    padding: 0 20px;
    font-family: 'Lora', serif;
}

.line {
    color: #ce8d02;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.text-contain {
    font-family: 'Lora', serif;
    line-height: 1.4;
}

.tittle-service {
    font-weight: 700;
}

.tittle-name {
    padding-top: 55px;
    padding-bottom: 55px;
}

.img-card {
    width: 60px;
    height: 60px;
    margin: auto;
}

.tittle-card {
    font-weight: 600;
    font-size: 13px;
}

.card-text {
    font-family: 'Lora', serif;
    font-size: 14px;
}

.sec {
    padding-bottom: 55px;
}

.img-video {
    position: relative;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.market {
    padding: 30px 0;
    background-color: #f4f3ef;
}

.tittle-market {
    font-family: 'Lora', serif;
}

.border-number {
    border: solid #f4f3ef 7px;
}

.number-text {
    border-left: solid 2px #ce8d02;
    margin: 50px 0px;
    margin-left: 70px;
}

.num {
    color: #ce8d02;
    font-family: 'Lora', serif;
}


/*..*/

@media (min-width: 768px) {
    /* show 3 items */
    #carouselExample .carousel-inner .active,
    #carouselExample .carousel-inner .active+.carousel-item,
    #carouselExample .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    #carouselExample .carousel-inner .carousel-item-next,
    #carouselExample .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    #carouselExample .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    #carouselExample .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    #carouselExample .carousel-item-next.carousel-item-left+.carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    #carouselExample .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    #carouselExample .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    #carouselExample .carousel-item-prev.carousel-item-right+.carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    #carouselExample .carousel-control-next {
        top: 100%;
        color: black!important;
        bottom: -30%;
        font-size: 40px;
        width: 10%;
    }
    #carouselExample .carousel-control-prev {
        top: 100%;
        color: black!important;
        bottom: -30%;
        font-size: 40px;
        width: 10%;
    }
    #carouselExample .carousel-control-prev:hover {
        color: #ce8d02!important;
    }
    #carouselExample .carousel-control-next:hover {
        color: #ce8d02!important;
    }
    #carouselExample .carousel-control-prev {
        left: 40%;
    }
    #carouselExample .carousel-control-next {
        right: 40%;
    }
    #carouselExample .text-slide {
        position: relative;
        background-color: white;
        top: -25px;
        margin: 0 25px;
    }
}

.young {
    color: #ce8d02;
}

.bg-request {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../image/footer.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.input-form {
    padding-bottom: 55px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer {
    background-color: #0d0d0d;
}

.left-border {
    border-left: #ce8d02 2px solid;
}

.top {
    margin-top: 68px;
    height: 56px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-play {
    color: #ce8d02;
    font-size: 50px;
    margin-top: 10px;
}

@media (min-width: 768px) {
    /* show 3 items */
    #carouselExamplefooter .carousel-inner .active,
    #carouselExamplefooter .carousel-inner .active+.carousel-item,
    #carouselExamplefooter .carousel-inner .active+.carousel-item+.carousel-item,
    #carouselExamplefooter .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    #carouselExamplefooter .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselExamplefooter .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    #carouselExamplefooter .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    #carouselExamplefooter .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    #carouselExamplefooter .carousel-inner .carousel-item-next,
    #carouselExamplefooter .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    #carouselExamplefooter .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    #carouselExamplefooter .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    #carouselExamplefooter .carousel-item-next.carousel-item-left+.carousel-item,
    #carouselExamplefooter .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    #carouselExamplefooter .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    #carouselExamplefooter .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    #carouselExamplefooter .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    #carouselExamplefooter .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    #carouselExamplefooter .carousel-item-prev.carousel-item-right+.carousel-item,
    #carouselExamplefooter .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    #carouselExamplefooter .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    #carouselExamplefooter .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    #carouselExamplefooter .carousel-control-prev,
    #carouselExamplefooter .carousel-control-next{
        font-size: 40px;
        color: black;
    }
    #carouselExamplefooter .carousel-control-prev:hover {
        color: #ce8d02!important;
    }
    #carouselExamplefooter .carousel-control-next:hover {
        color: #ce8d02!important;
    }
    #carouselExamplefooter .carousel-control-prev {
        left: -5%;
    }
    #carouselExamplefooter .carousel-control-next {
        right: -5%;
    }
}


/* Bootstrap Lightbox using Modal */

#profile-grid {
    overflow: auto;
    white-space: normal;
}

#profile-grid .profile {
    padding-bottom: 40px;
}

#profile-grid .panel {
    padding: 0
}

#profile-grid .panel-body {
    padding: 15px
}

#profile-grid .profile-name {
    font-weight: bold;
}

#profile-grid .thumbnail {
    margin-bottom: 6px;
}

#profile-grid .panel-thumbnail {
    overflow: hidden;
}

#profile-grid .img-rounded {
    border-radius: 4px 4px 0 0;
}

.bg-slide {
    background-color: #f4f3ef;
}